.slider {
    position: relative;
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: none;
    transition: opacity 0.5s ease;
}

.slide.active {
    display: block;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.dots {
 text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}